<div class="container register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="/assets/Images/DAX-logo.png" alt=""/>
      </div>
      <div class="col-md-9 register-right">
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Connection</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Créer</a>
              </li>
          </ul>

          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h3 class="register-heading">Connection</h3>
                  <div class="row register-form">
                      <div class="col-md-12">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Identifiant *" value="" /><br>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password *" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Se connecter"/>
                      </div>
                  </div>
              </div>

              <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <h3  class="register-heading">Créer un compte</h3>
                  <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Nom * " value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Identifiant *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Email *" value="" />
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Téléphone *" value="" />
                        </div>


                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Mot de Passe *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Confirmation du Mot de Passe *" value="" />
                          </div>
                          <div class="form-group">
                              <select class="form-control">
                                  <option class="hidden"  selected disabled>Choisir votre question de sécurisation</option>
                                  <option>Quel est votre date de naissance?</option>
                                  <option>Quel est le dernier chiffre de votre numéro de téléphone</option>
                                  <option>Quel est votre petit nom?</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Réponse *" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Enregistrer"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
