<section class="Hero">

  <h2>Data AnalytiX</h2>
  <div class="text">
  <h4>
    Agence spécialisée dans la collecte et l'analyse de données à Madagascar.
  </h4>
  <p>
    Créée en 2000, Data AnalytiX est une agence indépendante spécialisée dans la collecte et l’analyse de
    données à Madagascar. Notre cabinet d’études est une des agences à Madagascar à être certifiée ,
    il s’agit d’une norme internationale relative aux études de marché, études sociales et sondage d’opinion.
  </p>

</div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="single_news">
                  <div class="texts">
                      <h2>Partenaires internationaux</h2>
                      <h4>
                        <span class="icon">
                            <i class="icon-IcoMoon"></i>
                        </span>
                    </h4>
                      <p class="test">
                        Grâce à notre maîtrise du contexte malagasy alliant un savoir faire reconnu et approuvé,
                        l’Agence Data AnalytiX travaille avec des cabinets de renommées internationales <br><br><br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_news">

                  <div class="texts">
                      <h2>Norme ISO 20252</h2>
                      <h4>
                        <span class="icon">
                            <i class="icon-checkmark"></i>
                        </span>
                      </h4>
                      <p class="test">
                        Seule agence à Madagascar à être certifiée par la <strong>norme ISO20252</strong>.
                        Il s’agit d’une norme internationale relative aux études de marché, études sociales et sondage d’opinion.<br><br><br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="single_news">

                  <div class="texts">
                      <h2>Outils High-Tech</h2>
                      <h4>
                        <span class="icon">
                            <i class="icon-laptop"></i>
                        </span>
                    </h4>
                      <p class="test">
                        Dans la réalisation de nos diverses missions,
                        nous utilisons des outils high tech tels que le GPS,
                        le smartphone/la tablette. En somme, nos outils nous permettent
                        de gagner du temps et d'obtenir des données précises et fiables,
                        notamment via la transmission instantanée des données.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

