<section class="hero">
  <h2>Recrutement</h2>
  <h4>
    Vous souhaitez faire partie de notre équipe ?
  </h4>
  <h4>
    Vous aimez travailler dans un rythme fou ?
  </h4>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="simple-col">
          <img src="/assets/Images/DAX-logo.png" alt="">
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="simple-col">
          <h4>
            Notre cabinet d’études spécialisé en études de marché, enquêtes sociales et sondages d’opinion, Agence
            Data AnalytiX, a sans cesse besoin d’enrichir ses effectifs. <br><br>
            Nous sommes intéressés par les profils suivants : Chargé d’études, Analyste de données, Sociologue,
            Enquêteur ou Superviseur. <br>
            Si votre profil est en adéquation avec ces postes, merci de nous envoyer votre
            candidature à dax@dataanalytix.com
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
</section>
