<section class="Hero">
    <h2>Nos Expertises</h2>
    <p>
      Madagascar est une grande île abritant 25 millions d’habitants,
      dont une grande majorité de jeunes. En effet, 56.57% de la population est âgée de 15-64 ans.
      Les possibilités sont nombreuses pour les entreprises qui souhaitent s’y installer, créer de nouveaux
      produits ou encore pour les organisations qui veulent comprendre la société malgache.
      L’Agence Data Analytix vous propose son expertise pour vous aider à mieux connaître votre audience cible.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-mx-12">
                <div class="single_news">
                    <img class="pic" src="/assets/Images/marketing.jpg" alt="">
                    <div class="texts">
                        <h3>Marketing <hr></h3>
                        <ul>
                            <li>Notoriété & Images</li>
                            <li>Usages & Attitudes</li>
                            <li>Pré-test & Post-test publicitaires</li>
                            <li>Retail Audit ou Audit des points de ventes</li>
                            <li>Etudes sur un segment</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-mx-12">
                <div class="single_news">
                  <img class="pic" src="/assets/Images/Social.png" alt="">
                    <div class="texts">
                      <h3>Enquête Sociale<hr></h3>
                      <ul>
                          <li>Santé</li>
                          <li>Alimentaire</li>
                          <li>Education</li>
                          <li>Sensibilisation</li>
                      </ul>
                  </div>
                </div>
            </div>

            <div class="col-md-6 col-mx-12">
              <div class="single_news">
                <img class="pic" src="/assets/Images/ecoute2.jpg" alt="">

                  <div class="texts">
                    <h3>Etude de la "Voix du Client" <hr></h3>
                    <ul>
                        <li>Etudes de satisfaction client</li>
                        <li>Visite Mystère</li>
                        <li>Etude client perdu</li>
                    </ul>
                </div>
              </div>
          </div>
            <div class="col-md-6 col-mx-12">
              <div class="single_news">
                <img class="pic" src="/assets/Images/sondage.png" alt="">

                  <div class="texts">
                    <h3>Sondage & étude d'opinion <hr></h3>
                    <ul>
                        <li>Etude économique</li>
                        <li>Baromètre</li>
                        <li>Etude politique</li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="col-md-6 col-mx-12">
            <div class="single_news">
              <img class="pic" src="/assets/Images/etude-smedia.png" alt="">

                <div class="texts">
                  <h3>Etudes médias <hr></h3>
                  <ul>
                      <li>Audience média</li>
                      <li>Etude sur des missions spécifiques</li>
                  </ul>
              </div>
            </div>
        </div>
        </div>
    </div>
</section>




<section class="events_section_area">
  <h2>Evénements Récents</h2>
  <p>
    Présentation de quelques évenements et enquêtes récents effectués par l'Agence Data AnalitiX
  </p>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="events_single">
                  <img src="/assets/Images/Covid19.jfif" alt="">

                  <h3>Evolution de la lutte contre la pandémie Covid-19</h3>
                  <h6>
                    Madagascar importera plus de deux variétés de vaccins contre le coronavirus.
                    C’est ce qui a été annoncé par le ministre de la Santé publique
                    Rakotovao Hanitrala Jean Louis à l’issue de la rencontre entre les membres de
                    l’Académie nationale de Médecine et le Président Andry Rajoelina ce 19 avril au Palais d’Etat d’Ambohitsorohitra.
                  </h6>
              </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="events_single">
                  <img src="/assets/Images/sondage.jpg" alt="">
                  <h3>Sondage surprise</h3>
                  <h6>
                    Réalisation d'un sondage <strong><u>(croyez-vousà tout ce qui est publié sur facebook?)</u></strong> dans la capitale de Madagascar
                    du 09 au 12 juillet 2021 auprès d'un échantillon représentatif
                    de 500 indivudues de 18 ans et plus en face à face.
                  </h6>
              </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="events_single">
                <img src="/assets/Images/kere-famine-madagascar.jpg" alt="">
                  <h3>Evenement social à Madagascar</h3>
                  <h6>
                    Depuis le début de l'été Austral, Madagascar est affecté par des épisodes pluvieux intenses issus de la mousson, de cyclone et tempête.
                    Les régions Nord-Ouest, Nord et récemment Centre-Est, ont été affectées par de graves inondations qui ont causé la mort. Si de nombreux
                    secteurs de la Grande Île ont du faire face à un trop plein de pluie, le Sud souffre d'une sévère sécheresse.</h6>
              </div>
          </div>
      </div>
  </div>
</section>

