<section class="activity">
    <h2>Qui sommes-nous ?</h2>
    <div class="text">
    <h4>
        L'agence Data AnalytiX ...
    </h4>
    <p>
        Depuis 2000, l’Agence Data AnalytiX réalise des études de marché,
        des enquêtes sociales et des sondages d’opinion dans tout Madagascar.
        Notre métier consiste à vous faire connaître les malagasy : leurs comportements,
        leurs attentes, leurs valeurs et croyances, leurs aspirations, leurs motivations et leurs habitudes.
        La couverture nationale (Urbaine et Rurale) de l’Agence Data AnalytiX vous offre le confort de confier
        l’ensemble de vos études (Qualitative et Quantitative) à un même partenaire et peut ainsi garantir
         une conformité organisationnelle à votre étude.
    </p>
    </div>

  <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="single-Promo">
                  <div class="promo-icon">
                      <i class="material-icons">Nos Activités</i>
                  </div>
                  <h2 class="title text-center"><a href="#">Etudes / Analyse</a></h2>
                  <p>
                      Nous avons réalisées depuis 2000 plus de 700 données analyser et étudier
                    </p>
                  </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="single-Promo">
                  <div class="promo-icon">
                      <i class="material-icons">Pratique</i>
                  </div>
                  <h2 class="title text-center"><a href="#">Expérience</a></h2>
                  <p>
                    Plus de 20 ans de connaissance acquise à travers l'étude et l'analyse des données.
                  </p>
                  </div>
          </div>
          <div class="col-md-4 col-xs-12">
              <div class="single-Promo">
                  <div class="promo-icon">
                      <i class="material-icons">Equipes</i>
                  </div>
                  <h2 class="title text-center"><a href="#">Enquêteurs</a></h2>
                  <p>
                    Actuelement, nous comptons plus de 300 enqêteur dans l'agence.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="events_section_area">
    <h2>L'équipes</h2>
    <p>
        Notre équipe impliquée et passionnée par les sondages et l’analyse de données,
        vous aide à tirer le meilleur de vos répondants et de leurs données.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="events_single">
                    <h3>une agence certifiée<hr></h3>
                    <h4>Norme ISO 20252</h4>
                    <p>
                        <!-- L’entreprise a commencé son activité le 09 juillet 2000 et elle est inscrite comme Société à
                        Responsabilité Limitée (SàRL) au registre du commerce du canton de Genève depuis le 9 mars 2012.
                        Elle est basée à Carouge dans le canton Genève en Suisse. <br><br>
                        Depuis près de 15 ans, l’équipe de Satiscan a réalisé de nombreuses enquêtes à Genève,
                        en Suisse, en France, dans les territoires occupés Palestiniens, en Jordanie, en Syrie,
                        au Liban et en Irak. Nous avons collecté l’opinion de centaines de milliers de personnes
                        par des entretiens en face-à-face, par téléphone, par le web ou à l’aide de questionnaires papier.
                        Fort de notre expérience, nous sommes persuadés que l’enquête d’opinion est un outil fantastique
                        pour qui sait l’utiliser de manière professionnelle et scientifique.<br><br>

                        Nous réalisons des enquêtes sur mesure pour répondre aux besoins de nos clients et les accompagnons
                        également dans les différentes étapes d’un sondage : design et méthodologie de l’enquête, collecte,
                        saisie, analyses, rapport et présentation des résultats. -->
                        Fort de son expérience et de sa recherche permanente d’amélioration, notre agence a obtenu la
                        certification ISO20252. Cette norme démontre la rigueur et l’exigence de notre système de
                        management dans la réalisation des études d’opinion, des études de marché et des études sociales.
                        <br><br>
                        La Norme Internationale ISO20252 (Etudes de marché, études sociales et d’opinion, y compris
                        insights et analytique de données – Vocabulaire et Exigence de service) établit, à l’échelle globale,
                        es normes et des règles dans la réalisation des études de marché. Cette norme traite également
                        les questions de planification, de conduite et de la communication des résultats
                        des clients qui ont mandaté l’agence.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="events_single">
                    <h3>Notre équipe <hr></h3>
                    <p>
                        Pour assurer sa mission, l’Agence Data AnalytiX dispose d’un pool d’experts issus d’horizons
                        variés et complémentaires : marketing, étude qualitative, statistiques, santé & nutrition,
                        anthropologie, sociologie et WASH (Water, Sanitation & Hygiene). De plus, nous travaillons
                        avec plus de 300 enquêteurs répartis à Madagascar. Tout au long de l’année, nos équipes
                        reçoivent une formation afin de vous garantir une qualité dans les missions réalisées.
                    </p>
                    <div class="row">
                        <h3>Equipe de direction <hr></h3>
                        <div class="col-md-4 col-xs-12">
                            <div class="single-Promo">
                                <div class="promo-icon">
                                    <i class="material-icons">
                                        <img src="/assets/Images/profil3.jfif"/>
                                    </i>
                                </div>
                                <h2 class="title text-center"><a href="#">Ryan ARISOA</a></h2>
                                <p>
                                    Directeur
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="single-Promo">
                                <div class="promo-icon">
                                    <i class="material-icons">
                                        <img src="/assets/Images/profil2.jpg"/>
                                    </i>
                                </div>
                                <h2 class="title text-center"><a href="#">Aina ARIS</a></h2>
                                <p>
                                    Responsable IT et développement
                                  </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="single-Promo">
                                <div class="promo-icon">
                                    <i class="material-icons">
                                        <img src="/assets/Images/profil1.jpg"/>
                                    </i>
                                </div>
                                <h2 class="title text-center"><a href="#">Christian ANDRIANARISOA</a></h2>
                                <p>
                                    Responsable analyse de données
                                  </p>
                                </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="events_single">
                    <h3>Valeur <hr></h3>

                    <p>

                           Écoute et compréhension du problème du client afin de proposer une solution efficace pour y répondre
                        <br><br>

                           Approche pédagogique et concrète
                        <br><br>

                           Respect de la confidentialité et de l’anonymat des répondants
                        <br><br>

                           Nous avons toujours été étonné de l’investissement des répondants et pensons qu’il faut respecter cela.
                        <br><br>

                           Pour les enquêtes à but non lucratif, les répondants doivent pouvoir accéder aux résultats des enquêtes,
                           pour les enquêtes commerciales une compensation (avantages, cadeaux,…) s’avère primordiale.
                        <br><br>
                    </p>
                    </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="events_single">
                    <h3>Nos outils <hr></h3>
                    <p>
                        La fiabilité des données représente un point essentiel de notre activité.
                        C’est pour cette raison que nous utilisons différents outils high tech et des logiciels spécifiques
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="events_single">
                                <h1>
                                    <span class="icon">
                                        <i class="icon-tools"></i>
                                    </span>
                                </h1>
                                <ul>
                                    <li>
                                        GPS
                                    </li>
                                    <li>
                                        Ordinateur
                                    </li>
                                    <li>
                                        Tablette
                                    </li>
                                    <li>
                                        Portable
                                    </li>
                                </ul>
                            </div>
                        </div><div class="col-md-6 col-xs-12">
                            <div class="events_single">
                                <h1>
                                    <span class="icon">
                                        <i class="icon-laptop"></i>
                                    </span>
                                </h1>
                                <ul>
                                    <li>
                                        SPSS
                                    </li>
                                    <li>
                                        ETHNOS
                                    </li>
                                    <li>
                                        STATMANIA
                                    </li>
                                    <li>
                                        STATA
                                    </li>
                                    <li>
                                        CS Pro
                                    </li>
                                    <li>
                                        NVivo
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

